apiVersion: v1
kind: Pod
metadata:
  name: servicego
  labels:
    app: servicego
spec:
 containers:
    - name: servicego
      image: falconr/server-application




---

apiVersion: v1
kind: Pod
metadata: 
    name: nginx-http2
    labels:
        app: nginx

spec:
    containers:
      - name: nginx-http2
        image: falconr/nginx-http2
---

apiVersion: v1
kind: Pod
metadata:
    name: mongodb
    labels:
      app: mongodb 
spec:
     containers:
     - name: mongodb
       image: mongo:3.6-jessie
