apiVersion: v1
kind: Service
metadata:
    name: servicego
spec:
    #This will define wich pod are going to be serve by this service
    #A service is an network endpoint for other service or for the outside world 
    
    # selector as the same value as the label of the pod that we  
    selector:
      app: servicego
      
    ports:
    # specify the type of protocol we are using 
      - name: http
        port: 3000
    type: ClusterIP




--- 

apiVersion: v1
kind: Service
metadata:
    name: nginx
    labels:
      app: nginx


spec:

    selector:
      app: nginx
    
    ports:
    - name: http
      port: 80
      nodePort: 30080

    type: NodePort

--- 

apiVersion: v1
kind: Service 
metadata:
    name: mongodb
    labels:
      app: mongodb

spec:

    selector:
      app: selector
    
    ports:
    - name: htpp
      port: 27017

    type: ClusterIP